* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

/* Header Start */

.cell_number a,
.domain_name a {
    color: #ffffff;
    text-decoration: none;
}

.cell_number a:hover,
.domain_name a:hover {
    color: black;
}

.top_ul li {
    list-style: none;
    position: relative;
}

.top_ul a {
    color: #ffffff;
    text-decoration: none;
}

.top_ul .top-link:hover {
    color: black;
}

.top_submenu {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 15;
}

.top_submenu a {
    color: black;
    display: block;
}

.top_ul li:hover .top_submenu {
    display: block;
}

.top_submenu a:hover {
    color: #ffffff;
    background-color: rgb(50, 50, 254);
}

.nav {
    background-color: #757575;
}

.sticky-top {
    top: 0;
    position: sticky !important;
    z-index: 10;
}

.navbar-brand {
    font-family: 'Arial', sans-serif;
    letter-spacing: .1rem;
    font-size: 1.8rem !important;
    position: relative;
}

.navbar-nav li a {
    color: #ffffff;
    transition: all ease-in-out .2s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.nav-item {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: all ease-in-out .4s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    left: 0;
}

.active {
    color: #ffffff !important;
}

.nav-link.active::after {
    left: 0 !important;
    transform: scaleX(1) !important;
    transition: all ease-in-out .4s;
}